#sideMenu {
    width: 280px;

    .bi {
        vertical-align: -.125em;
        pointer-events: none;
        fill: currentColor;
    }

    .dropdown-toggle { outline: 0; }

    .nav-link {
        border-radius: 10;
    }
    .nav-item {
        cursor: pointer;
    }

    ul {
        text-align: left;
    }
}
