#tree {
    width: 100%;
    padding: 20px;
    text-align: left;
    overflow: scroll;

    .title {
        white-space: nowrap;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    #checkboxGroup,
    #editButtonGroup {
        display: flex;
        justify-content: space-between;
    }

    #editButtonGroup {
        margin-top: 20px;
    }

    .input-group-text {
        min-width: 120px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }

    img {
        width: 300px;
    }

    #floweringAndFruit {
        display: flex;

        .flowering,
        .fruit {
            width: 100%;
            margin-right: 10px;
        }
    }
}
